In [1]:
# Installing and importing packages

!pip install pyspark
import pyspark
import pandas as pd
import numpy as np

#from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pyspark.sql.types as t
import pyspark.sql.functions as f

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\derick\appdata\roaming\python\python39\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\derick\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.7)

In [ ]:
# Importing dataset (with pandas)
#data = pd.read_csv('charts.csv')

In this project, we're going to use Spark (large dataset, with more than 28 milions lines) and SQL to explore the dataset.

The first step working with Spark, is create a instance of class "Spark Session".

In [2]:
# Building a Spark session - entry point to underlying Spark funtionality
spark = (SparkSession.builder.config("spark.driver.memory","4g").config("spark.driver.maxResultSize", "4g").getOrCreate())

In [3]:
# Importing dataset (with spark)
data_spk = spark.read.csv(path = 'charts.csv', inferSchema = True, header = True)

In [11]:
# Looking into the data types, all of then are 'string'. We need to use the correct type to perform our analysis.
# This are the data types supported by Spark DataFrames and SQL: https://spark.apache.org/docs/latest/sql-ref-datatypes.html
data_spk

DataFrame[title: string, rank: int, date: date, artist: string, url: string, region: string, chart: string, trend: string, streams: int]

In [10]:
# Setting the data types
data_spk = data_spk.withColumn('rank', f.col('rank').cast(t.IntegerType())).withColumn('date', f.col('date').cast(t.DateType())).withColumn('streams', f.col('streams').cast(t.IntegerType()))

In [12]:
# Verifying the data types of 'rank', 'date' and 'streams'
data_spk

DataFrame[title: string, rank: int, date: date, artist: string, url: string, region: string, chart: string, trend: string, streams: int]

To save our intermediare querys and results, we create a temp table (process data much faster).
It's important understand that temporary tables are available just within the current session.

In [14]:
# Setting a temp table
data_spk.registerTempTable('charts')

C:\Users\Derick\AppData\Roaming\Python\Python39\site-packages\pyspark\sql\dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [19]:
spark.sql('''
SELECT MIN(date) begin, MAX(date) end 
FROM charts 
WHERE chart = 'top200';
''').toPandas()

        begin         end
0  2017-01-01  2021-12-31

In [ ]:
appearances_top200 = data[data['chart'] == 'top200']['title'].value_counts()

In [ ]:
appearances_top200.head(10)